<div class="d-flex">
    <lib-algo-sorting-graph></lib-algo-sorting-graph>
</div>
<!-- <div class="d-flex">
    <lib-card-item></lib-card-item>
    <lib-card-item></lib-card-item>
    <lib-card-item></lib-card-item>
    <lib-card-item></lib-card-item>
</div>
<lib-form-button></lib-form-button>
<lib-header></lib-header> -->
<lib-table-grid-basic></lib-table-grid-basic>



<lib-card-item-collection (pageChangedEvent)="onPageChangedEvent($event)"
    [subject]="subject"></lib-card-item-collection>
<lib-pagination [items]="items"></lib-pagination>

<div class="container w-75 mx-auto my-4">
    <div class="row">
        <div class="col">
            <lib-form-textfield [placeholder]="'Co hledate'" [type]="'s2'"></lib-form-textfield>
        </div>
        <div class="col">
            <lib-form-textfield [placeholder]="'Kde hledate'" [type]="'s1'"></lib-form-textfield>
        </div>
        <div class="col">
            <lib-form-dropdown-list></lib-form-dropdown-list>
        </div>
    </div>
</div>


<ngx-charts-bar-vertical [view]="[1000,400]" [results]="dataset" [xAxisLabel]="'x-axis'" [legendTitle]="'legend'"
    [yAxisLabel]="'y-axis'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
    [yAxis]="true" [gradient]="true">
</ngx-charts-bar-vertical>

<ngx-charts-pie-chart [view]="[1000,400]" [results]="dataset" [legendTitle]="'legend'" [legend]="true"
    [gradient]="false" [doughnut]="true" [customColors]="colors">
</ngx-charts-pie-chart>