<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %X{mdcUser} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
<!--    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->

    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.lukepeace.projects.nevyhodcore.service" level="debug" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>